@font-face {
  font-family: "URW Bookman Demi-Bold";
  src: url("../fonts/urw_bookman_demi_bold.ttf") format("truetype"); }
html, body {
  overflow: hidden; }

.menu-item {
  min-height: 20vh; }

.menu-item-title {
  font-family: "URW Bookman Demi-Bold", serif;
  margin: 0;
  font-size: 15vmin;
  line-height: 20vh;
  padding-left: 3%;
  color: white;
  text-decoration: none; }

.purple {
  background-color: #533a71; }

.blue {
  background-color: #3772ff; }

.red {
  background-color: #df2935; }

.yellow {
  background-color: #ffbc17; }

.teal {
  background-color: #50c5b7; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  h1 {
    font-size: 13vw;
    padding-left: 10%; } }
