@font-face {
  font-family: "Cutive Mono";
  src: url("../fonts/CutiveMono-Regular.ttf") format("truetype"); }
html,
body {
  color: #3d3d3d;
  background-color: #f7f7f7;
  height: 100%;
  font-family: "Cutive Mono", monospace;
  font-weight: normal; }

#container {
  width: 960px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin: 0 auto;
  height: 100%; }
  #container #header {
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    border-bottom: 1px solid #e5e5e5; }
  #container #navigation {
    text-align: center;
    border-bottom: 1px solid #e5e5e5; }
  #container .navigation-item {
    font-size: 18px;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 0px; }
    #container .navigation-item:hover {
      border-bottom: 4px solid #e5e5e5; }
    #container .navigation-item.active {
      border-bottom: 4px solid #e5e5e5; }
  #container a {
    text-decoration: none;
    color: #3b73cf; }
  #container #under-construction {
    color: grey;
    text-align: center;
    margin-top: 80px; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html, body {
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }

  #container {
    width: auto; }
    #container #header {
      font-size: 60px;
      text-align: center;
      line-height: 160px;
      border-bottom: 3px solid #e5e5e5; }
    #container #navigation {
      text-align: center;
      border-bottom: 3px solid #e5e5e5; }
    #container .navigation-item {
      font-size: 50px;
      display: inline-block;
      margin: 30px 60px;
      padding: 30px 0px; }
      #container .navigation-item:hover {
        border-bottom: 10px solid #e5e5e5; }
      #container .navigation-item.active {
        border-bottom: 10px solid #e5e5e5; }
    #container #under-construction {
      font-size: 40px;
      margin-top: 180px; } }
