@font-face {
  font-family: "URW Bookman Demi-Bold";
  src: url("../fonts/urw_bookman_demi_bold.ttf") format("truetype"); }
@font-face {
  font-family: "URW Bookman Light";
  src: url("../fonts/urw_bookman_light.ttf") format("truetype"); }
html, body {
  overflow: hidden; }

.menu-item {
  min-height: 20vh; }

.menu-item-title, .page-title {
  font-family: "URW Bookman Demi-Bold", serif;
  margin: 0;
  font-size: 15vmin;
  line-height: 20vh;
  padding-left: 3%;
  color: white;
  text-decoration: none; }

.page-title {
  color: #3c3c3c;
  font-size: 5vmin; }

.post {
  padding-left: 3%;
  font-family: "URW Bookman Light", serif;
  color: #3c3c3c; }

.ceil {
  background-color: #93B5C6; }

.medium-spring-bud {
  background-color: #C9D89B; }

.orange-yellow {
  background-color: #F0CF65; }

.pale-copper {
  background-color: #D7816A; }

.quinacridone-magenta {
  background-color: #934451; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  h1 {
    font-size: 13vw;
    padding-left: 10%; } }
