!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title James Conant
    %meta{content: 'James Conant', name: 'author'}

    %link{href: 'css/normalize.min.css', rel: 'stylesheet'}
    - file = 'css/styles.css'
    - href = "#{file}?v=#{Digest::SHA256.file(file).to_s}"
    %link{href: href, rel: 'stylesheet'}

    %meta{content: 'MaUY60IRvED5kUflQsIpO6wwhbXLx9G-SJd9btB1akg',
          name: 'google-site-verification'}

  %body
    .menu-item.purple
      %a.menu-item-title{href: '#', onclick: 'return false;'}
        THOUGHTS

    .menu-item.blue
      %a.menu-item-title{href: '#', onclick: 'return false;'}
        PROJECTS

    .menu-item.red
      %a.menu-item-title{href: 'https://github.com/jamesconant', target: "_blank"}
        CODE

    .menu-item.yellow
      %a.menu-item-title{href: 'james_conant_resume_20161118.pdf', target: "_blank"}
        RESUME

    .menu-item.teal
      %a.menu-item-title{href: 'mailto:james@conant.io', target: "_blank"}
        CONTACT
