!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title James Conant
    %meta{content: 'James Conant', name: 'author'}
    - file = 'css/styles.css'
    - href = "#{file}?v=#{Digest::SHA256.file(file).to_s}"
    %link{href: href, rel: 'stylesheet'}
    %meta{content: "MaUY60IRvED5kUflQsIpO6wwhbXLx9G-SJd9btB1akg",
          name: "google-site-verification"}
  %body
    #under-construction
      %span#wizard
        (⊃｡•́‿•̀｡)⊃━
        %span#spell
          ☆ﾟ.*･｡ﾟ
