#under-construction
  margin-top: 200px
  text-align: center

  #wizard
    color: dimgrey
    position: relative

  #spell
    font-weight: bold
    position: absolute
    left: 100px
    color: white
    animation-name: cycleColors
    animation-duration: 4s
    animation-direction: alternate
    animation-iteration-count: infinite
    -webkit-animation-name: cycleColors
    -webkit-animation-duration: 4s
    -webkit-animation-direction: alternate
    -webkit-animation-iteration-count: infinite

@keyframes cycleColors
  0%
    color: #C78F83
    letter-spacing: 0.0em

  4%
    color: #F6C28C
    letter-spacing: 0.04em

  8%
    color: #EAAF84
    letter-spacing: 0.08em

  12%
    color: #DA9E81
    letter-spacing: 0.12em

  16%
    color: #C89083
    letter-spacing: 0.16em

  120%
    color: #B6868B
    letter-spacing: 0.2em

  24%
    color: #A48198
    letter-spacing: 0.24em

  28%
    color: #9482A8
    letter-spacing: 0.28em

  32%
    color: #8988BA
    letter-spacing: 0.32em

  36%
    color: #8293CD
    letter-spacing: 0.36em

  40%
    color: #81A2DF
    letter-spacing: 0.40em

  44%
    color: #85B4ED
    letter-spacing: 0.44em

  48%
    color: #8FC7F8
    letter-spacing: 0.48em

  52%
    color: #9DD9FE
    letter-spacing: 0.52em

  56%
    color: #AEE9FE
    letter-spacing: 0.56em

  60%
    color: #C1F5F8
    letter-spacing: 0.60em

  64%
    color: #D3FCEE
    letter-spacing: 0.64em

  68%
    color: #E4FEDF
    letter-spacing: 0.68em

  72%
    color: #F2FBCE
    letter-spacing: 0.72em

  76%
    color: #FBF2BB
    letter-spacing: 0.76em

  80%
    color: #FEE4A8
    letter-spacing: 0.8em

  84%
    color: #FDD498
    letter-spacing: 0.84em

  88%
    color: #F5C18B
    letter-spacing: 0.88em

  92%
    color: #E9AE83
    letter-spacing: 0.92em

  96%
    color: #D99D81
    letter-spacing: 0.96em


@-webkit-keyframes cycleColors
  0%
    color: #C78F83
    letter-spacing: 0.0em

  4%
    color: #F6C28C
    letter-spacing: 0.04em

  8%
    color: #EAAF84
    letter-spacing: 0.08em

  12%
    color: #DA9E81
    letter-spacing: 0.12em

  16%
    color: #C89083
    letter-spacing: 0.16em

  120%
    color: #B6868B
    letter-spacing: 0.2em

  24%
    color: #A48198
    letter-spacing: 0.24em

  28%
    color: #9482A8
    letter-spacing: 0.28em

  32%
    color: #8988BA
    letter-spacing: 0.32em

  36%
    color: #8293CD
    letter-spacing: 0.36em

  40%
    color: #81A2DF
    letter-spacing: 0.40em

  44%
    color: #85B4ED
    letter-spacing: 0.44em

  48%
    color: #8FC7F8
    letter-spacing: 0.48em

  52%
    color: #9DD9FE
    letter-spacing: 0.52em

  56%
    color: #AEE9FE
    letter-spacing: 0.56em

  60%
    color: #C1F5F8
    letter-spacing: 0.60em

  64%
    color: #D3FCEE
    letter-spacing: 0.64em

  68%
    color: #E4FEDF
    letter-spacing: 0.68em

  72%
    color: #F2FBCE
    letter-spacing: 0.72em

  76%
    color: #FBF2BB
    letter-spacing: 0.76em

  80%
    color: #FEE4A8
    letter-spacing: 0.8em

  84%
    color: #FDD498
    letter-spacing: 0.84em

  88%
    color: #F5C18B
    letter-spacing: 0.88em

  92%
    color: #E9AE83
    letter-spacing: 0.92em

  96%
    color: #D99D81
    letter-spacing: 0.96em
